html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

* {
  border: 1px dotted red;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.top-nav {
  /* height: 2.5%;   */
  background-color: lightgrey;
  padding: .5em;
}

.nav-logo {
  flex-grow: 7;
  padding-right: 20%;
  /* max-width: 10%; */
}

.nav-btn {
  flex-grow: 1;
}

.cat-container {
width: 25%;  
border: 1px lightgray solid;
margin: .5em;
padding: .5em;
font-weight: 600;

}

.flex-cat-data {
  display: flex;
  flex-direction: row ;
  align-items: flex-end;
  justify-content: space-between;
}

.cat-pic {
width: 100%;
}

.cat-data {

}
